body{
	background-color: #369;	
}

.outter{
	background-color: #fff;
	overflow : auto;
	margin-top : 7px !important;
	margin-bottom : 0px !important;
}


.height_700{
	height: auto !important;
	min-height : 700px;
	height:700px;
}

.height_600{
	height: auto !important;
	min-height : 600px;
	height:600px;
}

.height_500{
	height: auto !important;
	min-height : 500px;
	height:500px;
}

.height_400{
	height: auto !important;
	min-height : 400px;
	height:400px;
}


.menu_bar{
	margin: 0px;
	width: 960px;
}


.books_div{
	
}

.book_div{
	float : left;
	width: 150px;
	height : 220px;
	margin-right: 8px;
	margin-bottom:8px;
}

.last_book_div{
	float : left;
	width: 150px;
	height : 150px;
	margin-right: 0px;
	margin-bottom: 8px;
}

.preface_div{
	text-align: center;
	margin: 5px;
}


/* revise the 960 css */
table.plain caption{
	caption-side : top;
	text-align : left;
	text-transform: inherit;
}
table.plain thead{
	text-transform: inherit;
}