{extends file='admin/base.html'}

{block name="extJavaScript"}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
      function delete_record(id){
    	  if(confirm('Are you sure to delete the record ?')){
    		  $.getJSON('category.php',
    				  { 'q' : 'DELETE', 'id' : id, 'd' : Date.parse(new Date()) },
    				  function(r){
    					  if(r.flag==1){
    						  alert('Error !');
    					  }else{
    						  alert('Delete the record successfully!');
    						  window.location.reload(true);
    					  }
    				  });
    	  }
      }
//]]>
</script>
{/block}

{block name="main_content"}
	<a href="category.php?q=EDIT">Add New Category</a>
	<table class="plain" width="100%">
		<thead>
			<tr>
				<td>Category Name</td>
				<td>Create Time</td>
				<td>Create By</td>
			</tr>
		</thead>
		<tbody>
			{foreach from=$categories item=b}
				<tr>
					<td>{$b->name} (<a href="category.php?q=EDIT&id={$b->id}">Edit</a>,<a href="#" onclick="delete_record({$b->id})">Delete</a>)</td>
					<td>{$b->create_time}</td>
					<td>{$b->create_by}</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
{/block}