<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{config_load file="site.conf"}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{$title|default:$smarty.config.website_title}</title>
	<link rel="stylesheet" type="text/css" href="../public/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/grid960.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/type.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/tables.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/helpers.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/ux.css" />
	
	<link rel="stylesheet" href="../public/css/menu_style.css" type="text/css" />
	
	<link rel="stylesheet" type="text/css" href="../public/css/screen.css" />

	{block name="extCSS"}{/block}

	<script type="text/javascript" src="../public/js/jquery-1.6.4.min.js"></script>
	
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
          $(document).ready(function(){
        	  {insert name='fire_message'}
          });
          
          function switch_language(obj){
        	  var lang = $(obj).val();
        	  $.getJSON('switch_lang.php',{ 'lang' : lang ,'t' : Date.parse(new Date()) },function(r){
        		  if(r.flag==0){
	        		  location.reload(true);
        		  }        			  
        	  })
          }
    //]]>
   </script>

   {block name="extJavaScript"}{/block}
</head>
<body>

<div id="container" class="outter round_5">
	{block name="header"}
		<div class="full height_100" id="header">
			<div>Banner here</div>
			<p class="obj_right">
			{if isset($smarty.session['logged']) && $smarty.session['logged'] }
				{_('welcome')} , {$smarty.session.user->email} | <a href="logout_handler.php">{_('Logout')}</a>
			{else}
				<a href="login.php">{_('Login')}</a> | <a href="register.php">{_('Register')}</a>
			{/if}
			|
			<select onchange="switch_language(this)">
				{foreach from=$SUPPORTED_LANG item=lang key=code}
					{if isset($smarty.session['locale']) && $smarty.session['locale']==$code }
						<option value="{$code}" selected="selected">{$lang}</option>
					{else}
						<option value="{$code}">{$lang}</option>
					{/if}
				{/foreach}
			</select>
			</p>
		</div>

			
		<div class="full menu_bar">
			{block name="header_menu"}			
				{insert name='menu_bar'}				
			{/block}
		</div>			
	{/block}
    
   	{block name="main"}
    	<div class="full height_500" id="main">
    		{block name="main_content"}{/block}
    	</div>
    {/block}
    
    {block name="footer"}
		<div class="full" id="footer">
			<hr />
			<p class="text_center">Powered By <a href="http://www.sys2do.com">www.sys2do.com</a></p>
		</div>
	{/block}
</div>  
 
</body>
</html>