{extends file='base.html'}


{block name="main_content"}
	<h3>{$title}</h3>
	<div class="books_div height_400">
		{foreach from=$books['data'] item=b}
			<div class="{cycle values='book_div,book_div,book_div,book_div,book_div,last_book_div'}">
				<div class="preface_div">
					<a href="book.php?id={encode($b->id)}"><img width="120" height="160" src="{$b->cover|default:'../public/images/no_cover.jpg'}"/></a>
				</div>
				<a href="book.php?id={encode($b->id)}">{$b->name}</a>
			    <!-- <p><a href="#" onclick="add2cart('{encode($b->id)}')">{_('Add To Shopping Cart')}</a></p>  -->
			    <!-- <p><a href="download.php?id={encode($b->id)}">{_('Download')}</a></p> -->
				<p><a href="download_xml.php?id={encode($b->id)}">{_('Download')}</a></p>
			</div>
		{/foreach}
	</div>
	<br class="clear"/>
	
	{insert name="populate_paginate" result=$books pageurl=$page_url}
{/block}