{extends file='base.html'}


{block name="extCSS"}

{/block}

{block name="extJavaScript"}
<script type="text/javascript" src="../public/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../public/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="../public/js/jquery.fileupload.js"></script>

<script type="text/javascript" src="../public/js/custom/book.js"></script>
{/block}
		                

{block name="main_content"}
	<form action="save_book.php" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$book->id}"/>
		<input type="hidden" name="file_ids" id="file_ids" value="{$book->pages}"/>
		<input type="hidden" name="action" value="EDIT"/>
		<div>
			<p><label>{t}Book Name{/t}</label><input type="text" name="name" value="{$book->name}"/></p>
			<p><label>{t}Category{/t}</label>
				{foreach from=$all_categories item=c}
				    {if array_search($c->id,$select_ids) > -1}
				        <input type="checkbox" value="{$c->id}" name="categories[]" checked="checked" id="cid_{$c->id}"/>
				    {else}
				        <input type="checkbox" value="{$c->id}" name="categories[]" id="cid_{$c->id}"/>
				    {/if}
					<label for="cid_{$c->id}">{$c->name}</label>
				{/foreach}
			</p>
			<p><label>{t}Description{/t}</label><textarea name="description">{$book->description}</textarea></p>
			<p><label>{t}Short Description{/t}</label><textarea name="short_description">{$book->short_description}</textarea></p>
			<p><label>Files</label><input id="fileupload" type="file" name="files[]" multiple></p>
		</div>
		<div>
			<button type="submit">{t}Submit{/t}</button>
		</div>
		
		<table id="files_list">
			<tr>
				<td width="200">File Name</td><td width="200">File Size</td><td width="100">Delete</td>
			</tr>
			{foreach from=$attachments item=a}
				<tr class="fs" fid="{$a->id}">
					<td>{$a->name}</td><td>{$a->file_size}</td><td><a href="#" onclick="deleteAttachment({$a->id})">delete</a></td>
				</tr>
			{/foreach}
		</table>
	</form>
	
		
{/block}