{extends file='base.html'}

{block name="extJavaScript"}

{/block}


{block name="main_content"}
	<table class="plain" width="100%">
	   <tr>
	       <td width="50">{_('Book Name')}</td>
	       <td>{_('Points')}</td>
	       <td>{_('Short Description')}</td>
	       <td>{_('Action')}</td>
	   </tr>
	   {foreach from=$books item=b}
	       <tr>
	           <td><a href="book.php?id={$b->id}">{$b->name}</a></td>
	           <td>{$b->points}</td>
	           <td>{$b->short_description}</td>
	           <td><a href="cart_action.php?action=DELETE&id={$b->id}">{_('Delete')}</a></td>
	       </tr>
	   {/foreach}
	</table>
	
	<hr />
	<div>
	   <!-- exchange by points -->
	   <p>{_('Exchenge by points')}</p>
	   <p>{_('Current Points')} : {$smarty.session['user']->points}</p>
	   <form action='' method="post">
	       <input type='hidden' name='books_ids' value='{$book_ids}'/>
	       <input type="submit" value="{_('Submit')}"/>
	   </form>
	</div>
	
	       
	
	<hr />
	<div>
	   <!-- pay by band -->
	   <p>{_('Pay the points')}</p>
	   <form action="prepare_pay.php" method="post">
	       <input type="submit" value="{_('Submit')}"/>
	       <input type="hidden" name="points" value="{$book_points}"/>
	       <input type='hidden' name='user_id' value='{$smarty.session['user']->id}'/>
	   </form>
	</div>
	
{/block}