{extends file='base.html'}


{block name="main_content"}
	{if $promote_book}
	   <div>
	       <h4>{_('Promoted Book')} : {$promote_book->name}</h4>
	       <div>
	           <div class="obj_left" style="width : 250px; height: 250px; text-align: center;">
			       <a href="book.php?id={encode($promote_book->id)}"><img width="200" height="200" src="{$promote_book->cover|default:'../public/images/no_cover.jpg'}"/></a>
	           </div>
		       <div class="obj_left" style="width:600px">
		          <p>{$promote_book->description}</p>
		          <p>{$promote_book->short_description}</p>
		          <!-- <p><a href="#" onclick="add2cart('{encode($promote_book->id)}')">{_('Add To Shopping Cart')}</a></p>  -->
		          <p><a href="download.php?id={encode($promote_book->id)}">{_('Download')}</a></p>
		       </div>
	       </div>
	   </div>
	{/if}
    <hr />
	
	
	<div><h4 class="obj_left">{_('New Upload Books')}</h4><span class="obj_right"><a href="books.php">{_('More')}</a></span><br class="clear"/></div>
	<div class="books_div">
		{foreach from=$new_books item=b}
			<div class="{cycle values='book_div,book_div,book_div,book_div,book_div,last_book_div'}">
				<div class="preface_div">
					<a href="book.php?id={encode($b->id)}"><img width="120" height="120" src="{$b->cover|default:'../public/images/no_cover.jpg'}"/></a>
				</div>
				<a href="book.php?id={encode($b->id)}">{$b->name}</a>
			    <!-- <p><a href="#" onclick="add2cart('{encode($b->id)}')">{_('Add To Shopping Cart')}</a></p>  -->
				<p><a href="download.php?id={encode($b->id)}">{_('Download')}</a></p>
			</div>
		{/foreach}
	</div>
	<div><br class="clear"/></div>
    					   
	
	
	{foreach from=$promote_categories item=c key=c_id}
	   <hr />
	   <div><h4 class="obj_left">{$c['name']}</h4><span class="obj_right"><a href="books.php?id={encode($c_id)}">{_('More')}</a></span><br class="clear"/></div>
	    <div class="books_div">
	        {foreach from=$c['data'] item=b}
	            <div class="{cycle values='book_div,book_div,book_div,book_div,book_div,last_book_div'}">
	                <div class="preface_div">
	                    <a href="book.php?id={encode($b->id)}"><img width="120" height="120" src="{$b->cover|default:'../public/images/no_cover.jpg'}"/></a>
	                </div>
	                <a href="book.php?id={encode($b->id)}">{$b->name}</a>
                    <!-- <p><a href="#" onclick="add2cart('{encode($b->id)}')">{_('Add To Shopping Cart')}</a></p>  -->
                    <p><a href="download.php?id={encode($b->id)}">{_('Download')}</a></p>
	            </div>
	        {/foreach}
	    </div>
	    <div><br class="clear"/></div>
	{/foreach}
{/block}
	              