{extends file='base.html'}

{block name="extJavaScript"}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
    function gohome(){
        window.location = "index.php";
    }
    
    function tosubmit(){
    	var msg = Array();
    	if(!$("#password").val()){
    		msg.push("{_('The password could not be blank!')}");
    	}
    	if(!$("#repassword").val()){
    		msg.push("{_('The confirmed password could not be blank!')}");
    	}
        if($("#password").val()!=$("#repassword").val()){
            msg.push("{_('The password and the confirmed password are not the same!')}");
        }
        
        if(msg.length>0){
        	alert(msg.join("\n"));
        	return;
        }else{
        	$("form").submit();
        }
    	
    }
//]]>
</script>
{/block}


{block name="main_content"}
	<form action="reset_succ.php" method="post">
	<input type="hidden" name="id" value="{$id}"/>
	<input type="hidden" name="sn" value="{$sn}"/>
	   <table>
	       <tr>
	           <td><label>{_('New Password')}</label></td><td><input type="password" id="password" name="password"/></td>
	       </tr>
	       <tr>
	           <td><label>{_('Confirmed Password')}</label></td><td><input type="password" id="repassword" name="repassword"/></td>
	       </tr>
	       <tr>
	           <td colspan="2"><input type="button" value="{_('Submit')}" onclick="tosubmit()"/>&nbsp;&nbsp;&nbsp;<input type="button" value="{_('Cancel')}" onclick="gohome();"/></td>
	       </tr>
	   </table>

	</form>
{/block}