{extends file='base.html'}

{block name="extJavaScript"}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
    function gotoreset(){
    	window.location = "reset_pw.php";
    }
//]]>
</script>
{/block}

{block name="main_content"}
	<form action="login_handler.php" method="post">
		<table>
		    <tr>
		        <td><label>{_('E-mail')}</label></td>
		        <td><input name="email" type="text"/></td>
		    </tr>
		    <tr>
		        <td><label>{_('Password')}</label></td>
		        <td><input type="password" name="password"/></td>
		    </tr>
		    <tr>
		        <td>&nbsp;</td>
		        <td><input type="submit" value="{_('Submit')}"/>&nbsp;&nbsp;&nbsp;<input type="button" value="{_('Forget password?')}" onclick="gotoreset();"/></td>
		    </tr>
		</table>
	</form>
	
	
	<ul>
	   <li><a href="login_via_3party.php?v=GOOGLE">Login via Google</a></li>
	   <li><a href="login_via_3party.php?v=FACEBOOK">Login via Facebook</a></li>
	   <li><a href="login_via_3party.php?v=YAHOO">Login via Yahoo</a></li>
	   <li><a href="login_via_3party.php?v=QQ"><img src='../public/images/Connect_logo_3.png'/></a></li>
	</ul>
{/block}