{extends file='base.html'}


{block name="main_content"}
	<div class="bottom_margin_20">
	<table class="plain" width="100%">
		<caption>My Upload Books</caption>
		<thead>
			<tr>
				<td>Book Name</td>
				<td>Upload Time</td>
				<td>Points</td>
			</tr>
		</thead>
		{foreach from=$upload_books item=b}
			<tr>
				<td><a href="book.php?id={$b->id}">{$b->name}</a></td>
				<td>{$b->create_time}</td>
				<td>{$b->points}</td>
			</tr>
		{/foreach}
	</table>
	</div>
	
	<div class="bottom_margin_20">
	<table class="plain" width="100%">
		<caption>My Downoad Book</caption>
		<thead>
			<tr>
				<td>Book Name</td>
				<td>Download Time</td>
				<td>Points</td>
			</tr>
		</thead>
		{foreach from=$download_books item=b}
			<tr>
				<td><a href="book.php?id={$b->id}">{$b->name}</a></td>
				<td>{$b->create_time}</td>
				<td>{$b->points}</td>
			</tr>
		{/foreach}
	</table>
	</div>
{/block}