{extends file='base.html'}

{block name="extJavaScript"}
<script type="text/javascript" src="../public/js/numeric.js"></script>
<script language="JavaScript" type="text/javascript">
 //<![CDATA[
       $(document).ready(function(){
    	   $(".numeric").numeric();
       });     
            
       
       $("form").submit(function(){
    	   return false;
    	   
       });
       
       function toSubmit(){
    	   var points = $("#points").val();
    	   var total_points = $("#total_points").val();
    	   if(!points){
    		   alert("{_('Please input the points you want to exchange!')}");
    		   return;
    	   }
    	   
    	   points = parseFloat(points);
    	   total_points = parseFloat(total_points);
    	   if(points>total_points){
    		   alert("{_('The points you want to exchange are more than your total points!')}");
    		   return;
    	   }
    	   $("form").submit();
    	   
       }
 //]]>
</script>

{/block}

{block name="main_content"}
	<div>
	   <table>
	       <tr>
	           <td>{_('E-mail')}<td><td>{$info->email}</td>
	       </tr>
	       <tr>
	           <td>{_('Points')}</td><td>{$info->points}</td>
	       </tr>
	   </table>
	</div>
	
	
	{if !isset($type) || $type=='EXCHANGE'}
		<div>
		   <form action="exchange_points.php" method="post">
		   <input type="hidden" name="total_points" id="total_points" value="{$info->points}"/>
		   <input type="text" name="points" id="points" value="" class="numeric"/>
		   <input type="button" value="{_('exchange points')}" onclick="toSubmit();"/>
		   </form>
		</div>
		
		<div>
		   <p>
		      <h3 class="obj_left">{_('Exchange history')}</h3>
		      <h5 class="obj_right"><a href="profile.php?type=BUY">{_('Buy history')}</a><h5>
		   </p>
		   
		   <br class="clear"/>
		   
		   <table class="plain" width="100%">
	        <thead>
	            <tr>
	                <td>{_('Request time')}</td>
	                <td>{_('Request points')}</td>
	                <td>{_('Status')}</td>
	            </tr>
	        </thead>    
		    {foreach from=$result['data'] item=b}
		          <tr>
		              <td>{$b->create_time}</td>
		              <td>{$b->points}</td>
		              {if $b->status==0}
		                    <td>{_('New')}</td>
		              {else if $b->status==1}
		                    <td>{_('Approved')}</td>
		              {else if $b->status==2}
		                    <td>{_('Disapproved')}</td>
		              {else if $b->status==2}
		                    <td>{_('Cancelled')}</td>
		              {/if}
		          </tr>
		      {/foreach}
	      
	    </table>
	    <br />
	      {insert name="populate_paginate" result=$result pageurl=$page_url}
		</div>
	{elseif  isset($type) && $type=='BUY'}
	   <div>
	       <p><a href="prepare_pay.php">{_('Buy Points')}</a></p>
	   </div>
	    <div>
           <p>
               <h3 class="obj_left">{_('Buy history')}</h3>
               <h5 class="obj_right"><a href="profile.php">{_('Exchange history')}</a></h5>
           </p>
           
           <br class="clear"/>
           
           <table class="plain" width="100%">
            <thead>
                <tr>
                    <td>{_('Buy time')}</td>
                    <td>{_('Buy points')}</td>
                    <td>{_('Status')}</td>
                </tr>
            </thead>    
            {foreach from=$result['data'] item=b}
                  <tr>
                      <td>{$b->create_time}</td>
                      <td>{$b->points}</td>
                      {if $b->status==0}
                            <td>{_('New')}</td>
                      {else if $b->status==1}
                            <td>{_('Successful')}</td>
                      {else}
                            <td>{_('Pending')}</td>
                      {/if}
                  </tr>
              {/foreach}
          
        </table>
        <br />
          {insert name="populate_paginate" result=$result pageurl=$page_url}
        </div>
	{/if}
{/block}