{extends file='base.html'}

{block name="extJavaScript"}
<script type="text/javascript" src="../public/js/numeric.js"></script>
<script language="JavaScript" type="text/javascript">
 //<![CDATA[
       $(document).ready(function(){
    	   $(".numeric").numeric();
       });     
            
       
       $("form").submit(function(){
    	   return false;
    	   
       });
       
       function toSubmit(){
    	   var points = $("#points").val();
    	   var total_points = $("#total_points").val();
    	   if(!points){
    		   alert("{_('Please input the points you want to exchange!')}");
    		   return;
    	   }
    	   
    	   points = parseFloat(points);
    	   total_points = parseFloat(total_points);
    	   if(points>total_points){
    		   alert("{_('The points you want to exchange are more than your total points!')}");
    		   return;
    	   }
    	   $("form").submit();
    	   
       }
 //]]>
</script>

{/block}

{block name="main_content"}
	<div>
		<p><label>{_('E-mail')}</label>{$info->email}</p>
		<p><label>{_('Points')}</label>{$info->points}</p>
	</div>
	
	
	<div>
	   <form action="exchange_points.php" method="post">
	   <input type="hidden" name="total_points" id="total_points" value="{$info->points}"/>
	   <input type="text" name="points" id="points" value="" class="numeric"/>
	   <input type="button" value="{_('exchange points')}" onclick="toSubmit();"/>
	   </form>
	</div>
	
	<br /><br />
	
	<div>
	   <h3>{_('Exchange history')}</h3>
	   <table class="plain" width="100%">
        <thead>
            <tr>
                <td>{_('Request time')}</td>
                <td>{_('Request points')}</td>
                <td>{_('Status')}</td>
            </tr>
        </thead>    
	    {foreach from=$result['data'] item=b}
	          <tr>
	              <td>{$b->create_time}</td>
	              <td>{$b->points}</td>
	              {if $b->status==0}
	                    <td>{_('New')}</td>
	              {else if $b->status==1}
	                    <td>{_('Approved')}</td>
	              {else if $b->status==2}
	                    <td>{_('Disapproved')}</td>
	              {else if $b->status==2}
	                    <td>{_('Cancelled')}</td>
	              {/if}
	          </tr>
	      {/foreach}
      
    </table>
    <br />
      {insert name="populate_paginate" result=$result pageurl=$page_url}
	</div>
{/block}