{extends file='base.html'}

{block name="extJavaScript"}

<script language="JavaScript" type="text/javascript">
 //<![CDATA[
       function submit_form(){
    	   var msg = Array();
    	   {literal}var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;{/literal}
    	   
    	   if(!$("#email").val()){ msg.push("{_('The E-mail could not be blank!')}"); }
    	   else if (!filter.test($("#email").val())) {
    		   msg.push("{_('Please provide a valid email address!')}");
    	   }
    	   
    	   if(!$("#password").val()){ msg.push("{_('The password could not be blank!')}"); }
    	   if(!$("#repassword").val()){ msg.push("{_('The confirmed password could not be blank!')}"); }
    	   if( $("#password").val()!=$("#repassword").val() ){ msg.push("{_('The password and the confirmed password are not the same!')}"); }
    	   
    	   if(msg.length>0){
    		   alert(msg.join("\n"));
    	   }else{
    		   $("form").submit();
    	   }
       }
 //]]>
</script>

{/block}

{block name="main_content"}
	<form action="save_register.php" method="post">
        <table>
            <tr>
                <td><label>{_('E-mail')}</label></td>
                <td><input type="text" name="email" id="email"/></td>
            </tr>
            <tr>
                <td><label>{_('Password')}</label></td>
                <td><input type="password" name="password" id="password"/></td>
            </tr>
            <tr>
                <td><label>{_('Confirmed Password')}</label></td>
                <td><input type="password" name="repassword" id="repassword"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="button" value="{_('Submit')}" onclick="submit_form()"/></td>
            </tr>
        </table>	   
	</form>
{/block}