<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<td>E-mail</td>
			<td>Password</td>
		</tr>
		
		{foreach $result as $user}
			<tr>
				<td>{$user->id}</td>
				<td>{$user->email}</td>
			</tr>
		{/foreach}
	</table>
	
	{config_load file="site.conf"}
	<p>{$smarty.config.db_path}</p>
	<p>{$smarty.config.website_title}</p>
	<p>{$smarty.get.page}</p>
</body>
</html>